user.config
engine
bin
obj
mods/*/*.dll
mods/*/*.mdb
mods/*/*.pdb
/*.dll
/*.dll.config
/*.so
/*.dylib
/*.pdb
/*.mdb
/*.exe
DOCUMENTATION.md
Lua-API.md
StyleCopViolations.xml
.DS_Store
Source TDO.lnk
desktop.ini
mods/tdo/rules/diplomacy.txt
mods/tdo/maps/devtest/scripts.lua
mods/tdo/maps/devtest/rules.yaml
mods/tdo/maps/devtest/map.yaml
mods/tdo/maps/devtest/map.png
mods/tdo/maps/devtest/map.bin
